@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    font-family: 'Roboto', Arial, Helvetica, sans-serif, sans-serif;
    font-size: 14px;

    --sidebar-color: lightskyblue;
    --header-color: white;
    --card-color: white;
    --highlight-color: goldenrod;

    
    --bg-test-color-1: lightpink;
    --bg-test-color-2: lightgoldenrodyellow;

}

body {
    margin: 0;
    
}

h1 {
    color: white;
    /* background-color: var(--bg-test-color-1); */
}

h2 {
    color: white;
    font-size: 1.3rem;
    margin: 0;
}

h3 {
    font-size: 1.2rem;
    margin: 0;
}

h4 {
    font-size: 1.1rem;
    margin: 0;
}

h5 {
    font-size: 1rem;
    margin: 0;
}

p {
    font-size: 0.9rem;
    margin: 0;
}

/* DASHBOARD LAYOUT */

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 250px 1fr;

    min-width: 1100px;
}


/* SIDEBAR SECTION */

.sidebar {
    display: grid;
    grid-template-rows: 5rem 20rem 10rem;
    gap: 2rem;
    
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: var(--sidebar-color);
    
    padding: 0rem 1.5rem;
    
    --side-gap: 1.5rem;
}

.logo-container {
    display: grid;
    grid-template-columns: 2rem auto;
    gap: var(--side-gap);
    align-items: center;
    
    grid-row: 1 / 2;
    
    font-size: 1rem;
}

.side-menu-1 > div, .side-menu-2 > div {
    display: grid;
    grid-template-columns: 2rem auto;
    gap: var(--side-gap);
    align-items: center;
    
    /* border: 1px solid salmon; */
}

.menu-icon {
    /* width: 2rem; */
    /* height: auto; */
}

.menu-text {
    /* width: 70%; */
}

.side-menu-1 {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    
    grid-row: 2 / 3;
    
    font-size: 1rem;
}

.side-menu-2 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    
    grid-row: 3 / 4;
}

/* HEADER SECTION */

.header {
    display: grid;
    grid-template-rows: 4rem 8rem;
    
    background-color: var(--header-color);
    grid-column: 2 / 3;
    
    --header-split: 70%;
    --header-padding: 2rem;
}

.top-row {
    border: 1px solid salmon;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    grid-template-rows: 1 / 2;
    padding: var(--header-padding);
}

.search {
    border: 1px solid blue;
    
    width: var(--header-split);
}

.profile-panel {
    border: 1px solid green;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    width: calc(100% - var(--header-split));
}

.bottom-row {
    border: 1px solid salmon;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    grid-template-rows: 2 / 3;
    padding: var(--header-padding);
}

.greeting-container {
    border: 1px solid blue;

    display: flex;
    align-items: center;
    gap: 1rem;

    width: var(--header-split);
}

.action-menu {
    border: 1px solid green;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    width: calc(100% - var(--header-split));
}

.action-menu button {
    background-color: var(--sidebar-color);
    height: 2.5em;
    width: 6em;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    /* text-align: center; */
    border-style: none;
    border-radius: 1.25em;
}

/* MAIN CONTENT SECTION */

.main-content {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 320px minmax(250px, 1fr);
    gap: 15px;

    background-color: rgba(176, 196, 222, 0.499);
    grid-area: 2 / 2 / 3 / 3;

    padding: 2rem 2rem 2rem 1.5rem;
    /* margin-right: 1rem; */

    --border-radius: 8px;

    border: 1px solid yellow;
}

.content-projects {
    display: grid;
    grid-template-rows: 2rem 1fr;

    grid-column: 1 / 2;
    grid-row: 1 / 3;

    border: 1px solid salmon;
}

.title-container {
    grid-row: 1 / 2;
    /* height: 100%; */
    border: 1px solid pink;
}

.content-title {

    color: black;
}

.cards-container {
    border: 1px solid purple;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.project-card {
    border: 1px solid blue;

    display: grid;
    grid-template-columns: 5px 1fr;
    border-radius: var(--border-radius);

    background-color: var(--card-color);
}

.card-strip {
    grid-column: 1 / 2;
    background-color: var(--highlight-color);

    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.card-content {
    border: 1px solid red;

    display: grid;
    grid-template-rows: 1em 1fr 1em;

    padding: 2em 1em;
}

.content-announce {
    border: 1px solid green;

    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: grid;
    grid-template-rows: 2rem 1fr;
}

.announce-panel {
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    grid-row: 2 / 3;

    background-color: var(--card-color);
}

.panel-content {
    border: 1px solid black;
}

.content-trending {
    border: 1px solid pink;
    
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    
    display: grid;
    grid-template-rows: 2rem 1fr;
}

.trending-panel {
    display: grid;
    grid-template-rows: repeat(4, 1fr);

    grid-row: 2 / 3;
    
    background-color: var(--card-color);
}